div.scroll-x {
  text-align: center;
  font-size: 1.2rem;
}

ul#nav-local-browse {
  display: inline-block;
  padding-left: 50px;
  text-align: center;
}

@media screen and (max-width: 875px) {
  ul#nav-local-browse {
  }
}


@media screen and (max-width: 875px) {
  ul#nav-local-browse {
    padding-left: 2.8rem;
  }
}

@media screen and (max-width: 767px) {
  ul#nav-local-browse {
    padding-left: 0.25rem;
  }
}

@media screen and (max-width: 575px) {
  ul#nav-local-browse {
    padding-left: 0.25rem;
  }
}

#nav-local {
  background: transparent;
  opacity: 0.75;
  color: #0c2340;
  background-color: #FFF;
  font-weight: 700;
  font-family: Helvetica, sans-serif;
  margin-top: 0;
  display: inline-block;
  position: absolute;
  /* top: 64px; */
  width: 100vw;
  z-index:3000;
}

#nav-local ul {
  display: inline-block;
}

#nav-local-breadcrumbs li a,
#nav-local-dropdown li a,
#nav-local-browse li a {
  margin: 9px 10px 14px 10px;
  color: #0c2340 !important;
}

#nav-local-browse {
  border-left: 0;
  border-right: 0;
  padding: 0 9px 0 6px;
}

/*
span.hoverLeft,
span.hoverRight {
  height: 46px;
  width: 250px;
}

span.hoverRight {
  top: 0 !important;
}
*/

#nav-local-browse li a:hover,
#nav-local-browse li a:focus {
  color: rgba(241, 90, 34, 1);
  opacity: 1.0;
  /* color: #fff !important; */
  -webkit-text-decoration-color: #aaa !important;
  -moz-text-decoration-color: #aaa !important;
  text-decoration-color: none;
}

@media screen and ( min-width: 55em ) {

  #nav-local {
    overflow: visible;
    /*
    width: auto;
    border-right: 1px solid #292929;
    border-bottom: 1px solid #292929;
    */
  }

  #nav-local-browse {
    /*
    display: none !important;
    */
  }

  #nav-local .scroller {
    overflow: visible;
  }

  /*
  span.hoverLeft,
  span.hoverRight {
    display: none;
  }
  */
}

/*
span.hoverLeft:hover {
 	cursor: w-resize;
}
span.hoverRight:hover {
 	cursor: e-resize;
}
*/

#nav-local .scroller {
   height: 47px;
   /*
   height: 100px;
   */
   overflow-x: scroll;
   white-space: nowrap;
   margin-top: -1px;
   -webkit-overflow-scrolling: touch;
 }

 #nav-local .scroller::-webkit-scrollbar {
   display: none;
 }

 #nav-local-browse li a {
   display: inline-block;
   margin: 8px 10px 15px 10px;
   /*
   transition: color 0.15s cubic-bezier(0,.45,.55,1);
   */
   text-decoration: none;
 }

 #nav-local-browse li a:hover,
 #nav-local-browse li a:focus {
   color: rgba(241, 90, 34, 1);
   opacity: 1.0;
   text-decoration: none;
   outline: 0;
 }

 #nav-local-browse li a {
   margin: 7px 10px 14px 10px;
 }

 #nav-local-browse {
   display: inline-block;
   white-space: nowrap;
   margin: 1px 0 0 0;
   padding: 0 13px 0 10px;
   list-style: none;
   height: 46px;
   overflow: hidden;
   /*
   border-left: 1px solid #cfcfcf;
   */
 }

 #nav-local-browse li {
   display: inline-block;
 }


 @media screen and (min-width: 55em) {
   #nav-local-browse li a:hover,
   #nav-local-browse li a:focus {
     color: rgba(241, 90, 34, 1) !important;
     opacity: 1.0;
     outline: 0;
     text-decoration: none;
   }
   #nav-local-browse {
     display: none;
   }

   /*
   span.hoverLeft, span.hoverRight {
     display: none;
   }
   */

 }
